sudo: required
services:
- docker
before_install:
- git clone --recursive https://github.com/moham96/DualBootPatcher -b master DualBootPatcher/
- docker pull silverx2222/dualbootpatcher:9.3.0-14-base
- docker pull silverx2222/dualbootpatcher:9.3.0-14-android
- docker pull silverx2222/dualbootpatcher:9.3.0-14-linux
script:
- mkdir $HOME/.android
- mkdir -p ${TRAVIS_BUILD_DIR}/DualBootPatcher/builder/ && cd ${TRAVIS_BUILD_DIR}/DualBootPatcher/
- |
  docker run --rm -i -e USER_ID=$(id -u) -e GROUP_ID=$(id -g) -v "$(pwd):/builder/DualBootPatcher:rw,z" -v "${HOME}/.android:/builder/.android:rw,z" silverx2222/dualbootpatcher:9.3.0-14-android bash << EOF
  cd DualBootPatcher/builder && cmake .. -DMBP_BUILD_TARGET=android -DMBP_BUILD_TYPE=debug && make -j16 && rm -rf assets && cpack && make apk -j16
  make android-system_armeabi-v7a -j16 && make -C data/devices -j16
  exit
  EOF
- |
  docker run --rm -i -e USER_ID=$(id -u) -e GROUP_ID=$(id -g) -v "$(pwd):/builder/DualBootPatcher:rw,z" -v "${HOME}/.android:/builder/.android:rw,z" yshalsager/dualbootpatcher:9.3.0-9-linux bash << EOF
  # Build Utilities Zip
  cd ~/DualBootPatcher/builder && ./utilities/create.sh
  # Build Linux
  #  cmake .. -DMBP_BUILD_TARGET=desktop -DMBP_PORTABLE=ON && make -j16 && cpack
  exit
  EOF
  #after_success:
  #- export TRAVIS_CURRENT_DATE=$(date +"%d%m%y-%Hh%Mm")
  #- ls -l ${TRAVIS_BUILD_DIR}/DualBootPatcher/Android_GUI/build/outputs/apk/debug/Android_GUI-debug.apk
  #- md5sum ${TRAVIS_BUILD_DIR}/DualBootPatcher/Android_GUI/build/outputs/apk/debug/Android_GUI-debug.apk
  #- ls -l ${TRAVIS_BUILD_DIR}/DualBootPatcher/builder/utilities/DualBootUtilities-9.3.0.zip
  #- md5sum ${TRAVIS_BUILD_DIR}/DualBootPatcher/builder/utilities/DualBootUtilities-9.3.0.zip
  #- ls -l ${TRAVIS_BUILD_DIR}/DualBootPatcher/builder/DualBootPatcher-9.3.0-Linux.zip
  #- md5sum ${TRAVIS_BUILD_DIR}/DualBootPatcher/builder/DualBootPatcher-9.3.0-Linux.zip
  #- cd ${TRAVIS_BUILD_DIR}/DualBootPatcher/Android_GUI/build/outputs/apk/debug/ &&  curl --upload-file ./Android_GUI-debug.apk https://transfer.sh/Android_GUI-debug-${TRAVIS_CURRENT_DATE}.apk > res&& cat res
  #- cd ${TRAVIS_BUILD_DIR}//DualBootPatcher/builder/utilities/ && curl --upload-file ./DualBootUtilities-9.3.0.zip https://transfer.sh/DualBootUtilities-9.3.0-${TRAVIS_CURRENT_DATE}.zip
  #- cd ${TRAVIS_BUILD_DIR}/DualBootPatcher/builder/ && curl --upload-file ./DualBootPatcher-9.3.0-Linux.zip https://transfer.sh/DualBootPatcher-9.3.0-${TRAVIS_CURRENT_DATE}-Linux.zip
  #
deploy:
  provider: releases
  api_key:
    secure: i3Ls3oVNxoF/nZIewfwcuckT/Z4wxu7+N5Tt0smT1gzFLCXD1/trtEbtOrOXot7R1sppzzM7v8fLtIM6Ut/i+KtYP70NpAMbl7UXwHGj/5pv6Ulj9H8T9Qt2QiVV93fUsR9vWODY45Y4cfnuQBqiKlAXf8M/b1a5asJHl2BWX6Pf/SsN+uo2DWTrsqma+vTNAZWzzv6JQDyNWQWP9oTTEeNAM6sjlQwE+Xpl6/RicSY8aMCCK48+tSvyaLH1mjCz+pz8Gvf0Dq97LVfI7yvdA2pTxqQ3082ZyPbovpXut8+Ez4NsSDsxvxS9K8MrL98CdWOwFUxsZd6fgbsRT/t09xr3ieWOX26CYmdgLqwqVz33w9rlFLGOawN2oF3e1r7EUZxbHCaEe1eVt5uGBJrDiGtjk8KaXDpNXAWPwfUIXHzEPIyB5p/zAnWNobZlkd9MGhWKFQ2TQ2K/rm3kLRlSLVG0FIi0hI2yFr6DMIiChU6sFkg5ejEOcFCF7XI4liSMXADc+Fid93W/IpiupmMWMPtwszU5mZglNjfsEyA4p2Qjn6/KRc4AZnxkE6TKx3zDgrIVsTb/NY2wKGgMrbemHHqfV5j/N8ZR2zVdxfmsfbifK5GnYh2SfYcV55+CSMg3Plngbk4Iv7GPaaH5GNJm5haPYGY9DbM44kLgQub2gBE=
  file:
        - Android_GUI/build/outputs/apk/debug/Android_GUI-debug.apk
        - builder/utilities/DualBootUtilities-9.3.0.zip
          #        - builder/DualBootPatcher-9.3.0-Linux.zip
  skip_cleanup: true
  draft: true
  on:
    repo: moham96/DualBootPatcher
